#slider-container{
    width: 50vh;
    display:flex;
    margin: 5px auto 0px auto;
}

.option-title{
    font-size: 1.4rem;
}

.home-input-field{
    display:block;
    margin:auto;
}

.option-container{
    margin-top: 2vh;
}